mixin calendar-inputs()
    .calendar  
        label(class="card__label") 
            h3 Прибытие
            span
                input.calendar__inp#calendar__input-first(placeholder="ДД.MМ.ГГГГ" name="daterange" )
                button.calendar__icon
        label(class="card__label") 
            h3 Выезд
            span
                input.calendar__inp#calendar__input-second(placeholder="ДД.MМ.ГГГГ" name="daterange" )
                button.calendar__icon    
    script(src="../../../../libs/daterangepicker-master/daterangepicker.js")
