div(class='card')
    h1(class="card_title") Войти
    input(type="email", placeholder="Email")
    input(type="password", placeholder="Пароль")
    button(class='card__submit-button') Войти
    p
        span Нет аккаунта на Toxin
        button(class="card__secondary-button") Создать