div(class="calendar-container")
    div(class="calendar")
    div(class="calendar-buttons")
        button(class="calendar-buttons__btn calendar-buttons__btn_grey") Очистить
        button(class="calendar-buttons__btn calendar-buttons__btn_purple") Применить
script(src="../../../../node_modules/pg-calendar/dist/js/pignose.calendar.min.js")
