script(src="../../../../node_modules/jquery/dist/jquery.min.js")
script(src="../../../../node_modules/moment/min/moment.min.js")

script(src="../../../../node_modules/pg-calendar/dist/js/pignose.calendar.min.js")
link(rel="stylesheet", href="../../../../node_modules/pg-calendar/dist/css/pignose.calendar.css")

script(src="js/calendar.js")
link(rel="stylesheet", href="styles/calendar.css")
div(class="calendar-container")
    div(class="calendar")
    div(class="calendar-buttons")
        button(class="calendar-buttons__btn calendar-buttons__btn_grey") Очистить
        button(class="calendar-buttons__btn calendar-buttons__btn_purple") Применить



