div(class='card') 
    h1(class='card__title')
    span
        label(class="card__label") Прибытие
            input(type="date")
    span
        label(class="card__label") Выезд
            input(type="date") 
    p
        label(class="card__label") Гости
            input(type="number", placeholder="Сколько гостей")
    button(class='card__submit-button') Подобрать номер                    