doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1") 
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        //- paste link here for styles priority 
        link(rel="stylesheet", href="./libs/daterangepicker-master/daterangepicker.css") 
        link(rel="stylesheet", href="./libs/slick-1.8.1/slick/slick-theme.css")
        link(rel="stylesheet", href="./libs/slick-1.8.1/slick/slick.css")
        title Toxin

    body
        link(rel="stylesheet" href='./css/style.bundle.css')        
        
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        script(src='./js/bundle.js')
        
        include html/views/template.pug