include ../components/cards/calendar.pug
include ../components/cards/carousel.pug
//- include ../components/cards/checkinout.pug
//- include ../components/cards/registration.pug
//- include ../components/cards/room.pug
//- include ../components/cards/signin.pug

//- include ../components/forms/inputs.pug
include ../components/footersHeaders/headers.pug
+header-login(true, 'Cosmin Negoita')

//- include ./landingPage.pug

include ./searchRoom.pug

include ../components/footersHeaders/footers.pug

+footer-extended('landing__footer')


