//- include ../components/cards/calendar.pug
//- include ../components/cards/carousel.pug
//- include ../components/cards/checkinout.pug
//- include ../components/cards/registration.pug
//- include ../components/cards/room.pug
//- include ../components/cards/signin.pug
include ../components/forms/inputs.pug

