.next.available span{
    width: 23.93px;
    height: 24px;
    border: none !important;
    transform: none !important;
    background: no-repeat url("../img/arrow_forward.png");
    background-position: center;
}
.prev.available span{
    width: 23.93px;
    height: 24px;
    border: none !important;
    transform: none !important;
    background: no-repeat url("../img/arrow_back.png");
    background-position: center;
}

.drp-calendar.right{
    display:none!important;
}
.daterangepicker .drp-buttons{
    border: none !important;
    display:flex  !important;    
    justify-content: space-between;

}
.drp-selected{
    display:none!important;
}

.daterangepicker{
    th.month{
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        text-transform: capitalize;
        line-height: 24px;
    }
    td.active, td.active:hover, td.start-date.end-date{
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) !important;
        border-radius: 22px;
        width: 39.88px;
        height: 40px;
        color: #fff !important;
    }
    .calendar-table{
        max-width: 320px;
        tbody{
            tr {
                td{
                    box-sizing: border-box;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    width: 39.88px;
                    height: 40px;
                    &.available{
                        color: $dark-shade-50;
                    }
                    &.off{
                        color:$dark-shade-25;
                    }
                    &.in-range{
                        background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
                    }
                    
                }
            }
        }
        .table-condensed thead tr{
            
            &:nth-child(2){
                font-weight:bold;
                color: $purple;            
                text-transform: capitalize;
                height: 70px;
            }
        }
    }
}

.calendar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .card__label{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 150px;
    & span{
        display: inherit;
    }
    }
    .card__label-wide{
        @extend .card__label;
        max-width: 266px !important;;   
    }

    span .calendar__inp{
        width: 150px;
    }
}

.calendar-buttons__btn{
    background: transparent;
    border: none;
    padding: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}
.calendar-buttons__btn_grey{
    color:$dark-shade-50;
}
.calendar-buttons__btn_purple{
    color: $purple;
}

.card__submit-button{ margin-top: 25px }