.pignose-calendar{
    max-width: 326px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow:none;
}
.pignose-calendar .pignose-calendar-body {
    padding: 0;
}
.pignose-calendar .pignose-calendar-unit{
    line-height: 0;
}

.pignose-calendar-row{
    height: 40px;
}
.pignose-calendar .pignose-calendar-top{
    box-shadow: none;
    border-bottom: none;   
    padding: 26px 0 0 0;
    background-color: #fff;

}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range a{
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgb(139, 164, 249, 0.25) 100%);
    color: rgba(31, 32, 65, 0.5);    
}

.pignose-calendar-unit-range {
    color: rgba(31, 32, 65, 0.5);
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a{
    background: linear-gradient(180deg, rgb(188, 156, 255) 0%, rgb(139, 164, 249) 100%);
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a, .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a, .pignose-calendar .pignose-calendar-unit a
{
    color: rgba(31, 32, 65, 0.5);
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun, .pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat, 
.pignose-calendar-week 
{
    color: #BC9CFF;
}

.pignose-calendar .icon-arrow-right:before, 
.pignose-calendar .icon-arrow-left:before
{
    content: '';
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev
{
    background: no-repeat url("../img/arrow_back.png");
    margin-left: 0
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next
{
    background: no-repeat url("../img/arrow_forward.png");
    margin-right: 0
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year,
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month{
    display:inline-block;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    color: #1F2041;
}

.calendar-container{
    width: 326px;
    border: 1px solid #d8d8d8;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25); 
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.calendar-buttons__btn{
    background: transparent;
    border: none;
    padding: 30px 0px 20px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}
.calendar-buttons__btn_grey{
    margin-right: 124px;
    margin-left: 20px;
    color:rgba(31, 32, 65, 0.5);
}
.calendar-buttons__btn_purple{
    color: #BC9CFF;
}