
.carousel{
    width: 270px;
    height: 151.38px;
}
img{
    width: 270px;
    height: 151.38px !important;
}
.slick-prev:before{
    position: relative;
    left: 25px;
}
.slick-prev{
    z-index:99;
}
.slick-next:before{
    position: relative;
    left: -25px;
}