.styledSel{
    font-size: 14px;
    box-sizing: border-box;
    padding:12px;
    height: 44px !important;
    max-width: 320px;
    border-radius: 4px;
    border: 1px solid $dark-shade-25;  
}

.nice-select.has-multiple span.current {
    border: 0 !important;
    background: 0 !important;
    @extend body;
}
div.nice-select{
    width: 320px;
    padding: 3px 12px;
    @extend .styledSel;
    li.option{
        height: 30px!important;
        min-height: 30px!important;
        max-height: 30px!important;
        text-transform: uppercase;
        color: $dark-shade-100;
        margin-top:7px;
        &.disabled{
            display: none!important;
        }
    }
    
    ul.list{
        width: 320px;
        height: 159px;
        border: 1px solid $dark-shade-50;
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);   
        border-radius: 0;
        margin-top: -2px !important;
        left: -1px !important;

    }
}
.nice-select.wide .list {
    max-width: 266px;
}
.expanded-checkbox{
    width: 320px;
    padding: 0 12px;
    box-sizing: border-box;
    .expanded-button{
        width: 320px;
        border:0;
        background: 0;        
        font-size: 12px;
        text-align: start;
        text-transform: uppercase;
        color: $dark-shade-100;
        &:before {
            border-bottom: 2px solid #999;
            border-right: 2px solid #999;
            content: "";
            display: block;
            height: 5px;
            margin-top: 2px;
            pointer-events: none;
            float: right;
            -webkit-transform-origin: 66% 66%;
            -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
            width: 5px;
        }
    }    
    
}
input{
    @extend .styledSel;
    &[type="checkbox"]{
        opacity: 0;
        width: 0;
        height: 0;
        &+label::before {
            position: absolute;
            top: -3px;
            left: -31px;
            content: ' ';
            width: 20px;
            height: 20px;
            display: inline-block;
            background: transparent;
            border: 1px solid $dark-shade-25;
            border-radius: 4px; 
        }
        &:checked+ label::after {
            content: " ";
            position: absolute;
            left: -25px;
            top: 1px;
            width: 23px;
            height: 23px;
            display: block;
            z-index: 1;
            background: url(../img/checked.png) no-repeat;
        }
        &:checked + label::before{
            border: 1px solid $purple;
            border-radius: 4px; 
        }
        &+label{
            margin: 0 0 0 30px;
            position: relative;
        }

    } 
    &[type="date"]{
        &::-webkit-inner-spin-button, &::-webkit-calendar-picker-indicator { 
            display: none; 
        }
        padding: 12px;    
        width: 150px;
        cursor: pointer;
        text-transform: uppercase;
    }
}

.calendar__inp{
    width: inherit;
    cursor: pointer;
}

.calendar__inp-filter{ 
    min-width: 266px;
    box-sizing: border-box;
 }

    
.calendar__icon{
    position: relative;
    left: -19px;
    top: 17px;
    cursor: pointer;
    border: none;
    outline: none;
    background: url("../img/expand_more.png") no-repeat;
    width: 14px;
    height: 10px; 
    padding: 12px;

}

%inp{
    position: absolute;
        width: 44px;
        height: 44px;
        display: inline-block;
        position: absolute;
        right: 2px;
        top: -11px;
        border: 0;
        background: transparent;
        padding: 0;
        margin: 0;
        text-align: center;
        outline: none;
        
}
.input_icon{
    @extend %inp;
    &:focus{
        @extend %inp;
        cursor: pointer;
    }
}


.row{
    margin-top: 5px;
}

.container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked{
             ~.checkmark{
                border-radius: 10px;
                border: 1px solid $purple;
                &:after{
                    display: block;
                }
            }
        }
    }
    .checkmark::after{
        border: solid $purple;
        border-radius: 10px;
        top: 3px;
        left: 3px;
        border-width: 6px;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
    }
}
.checkmark {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    &:after{
        content: "";
        position: absolute;
        display: none;
    }
}

%secondary-button{
    width: 99px;
    height: 44px; 
    text-transform: uppercase; 
    margin: 5px; 
    border-radius: 22px;
    
}

.card__secondary-button{
    @extend %secondary-button;
    color: #fff;    
    border: none;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    &:active{
        background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    }
    &.small{
        width: 79px;
        height: 34px;
        font-size: 12px;
    }
}

.button_fill{
    &:active{
        &:before{
            background: linear-gradient(180deg, rgba(188, 156, 255,0.5) 0%, rgba(139, 164, 249,0.5) 100%);
        }
    }
    
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width:99px;
    background: #fff;
    background-clip: padding-box; 
    border: solid 2px transparent; 
    border-radius: 22px;
    &.small{
        width: 79px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -2px; 
        border-radius: inherit; 
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
    button.card__secondary-button_filled{
        color: $purple;
        text-transform: uppercase; 
        width: 99px;
        height: 44px;
        border: none;
        background:transparent;
        &.small{
            width: 79px;
            height: 34px;
            font-size: 12px;
        }
        
    }
}
  
.link{
    border:0;
    background: 0;
    text-transform: uppercase; 
    color: $purple;
    &.disabled{
        color: $dark-shade-50;
    }

}

.option{
    display: flex;
    justify-content: space-between;
}

.btn-group__btn{
    width: 30px;
    background: 0;
    height: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
}

.button-submit-group{
    display:flex;
    justify-content: space-between;
    margin: 20px 14px 13px 14px;
}

.card__submit-button{
    color: #fff;
    text-transform: uppercase;
    border:none;
    max-width: 320px;
    min-width: 195px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}

.noUi-handle {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    box-shadow:none;
    &:before, &:after{
        display:none;
    }
}
.noUi-horizontal {
    width: 266px;
    height: 6px;
    float: left;
    .noUi-handle{
        width: 12px;
        height: 12px;
    }
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -4px;

}
.range{
    max-width: 267px;
    .range-value{
        margin-bottom:20px;
        float:right;
    }
}

.rich-text{
    padding-left: 41px;
    padding-top: 8px;
    padding-bottom: 11px;
    margin:0;
    color:$dark-shade-50;

}

ul.bullet-list{
    color: $dark-shade-75;
    list-style: none;  
    .list-item::before{
        background-color: $dark-shade-25;
        content: "";
        display: inline-block;
        width: 10.43px;
        height: 10px; 
        border-radius: 100%; 
        margin-right: 10.5px;      
    }
}

.input{
    position: relative;
    width: 266px;
}
